{% extends "home.html" %}
{% block title %}
Matches Played
{% endblock %}
{% block content %}
<body>
    <h1>Find Matches Played by a Team In A Specific Season</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if matches %}
        <h2>Matches Played by {{ team_name }} in {{ season }}</h2>
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Home Team</th>
                <th>Away Team</th>
                <!-- <th>Home Goals</th>
                <th>Away Goals</th> -->
                <th>Result</th>
                <!-- <th>Winner</th>
                <th>Loser</th> -->
            </tr>
            {% for match in matches %}
            <tr>
                <td>{{ match.Date }}</td>
                <td>{{ match.HomeTeam }}</td>
                <td>{{ match.AwayTeam }}</td>
                <td>{{ match.FTHG }}-{{ match.FTAG }}</td>
                <!-- <td>{{ match.FTAG }}</td> -->
                <!-- <td>{{ match.Winner }}</td>
                <td>{{ match.Loser }}</td> -->
            </tr>
            {% endfor %}
        </table>
    {% elif team_name and season %}
        <p>No matches found for {{ team_name }} in {{ season }}.</p>
    {% endif %}
</body>
{% endblock %}
